.vscode/**
build/
verdiLog/
.library*
.project
.settings
.spec/regression.md
*.vcd
*.gtkw
*.log
__pycache__/
ut/sail_log/
ut/hex/
ut/frontend_input/
ut/backend_input/
test/isa/build
test/torture/build
test/torture/src/*.S
test/benchmark/build
!test/benchmark/build/dhrystone.riscv
regression.txt
torture.txt
torture/*.S
#self_test
src/rcu/unit/oldest2_abitter/self_test/*
src/rcu/unit/oldest2_abitter_bps/self_test/*
src/rcu/unit/oldest2_abitter_bps_lss/self_test/*
src/rcu/unit/fifo/self_test/*
src/rcu/test/*
src/rcu/Verdi*
src/rcu/unit/f2if2o/self_test/*
src/rcu/unit/physical_regfile/self_test/*
src/rcu/self_test/*
src/decode/self_test/*
src/perips/uart_ut
src/perips/testio_ut
src/perips/soc_ut
src/perips/novas.conf
src/perips/novas.rc
!src/perips/soc_ut/testio_tb.v
src/rcu/unit/FIAO/self_test/*
src/fetch/selftest/*
# : self_test
simv.daidir
# vcs test
vcs_test/*
!Makefile
# : vcs test
gmon.out
src/fu/set_test/*
*_run/
runs
src/fetch/ins_buffer_new.v
src/rvh_mmu*/synthesis/
!src/rvh_mmu*/synthesis/core.f
!src/rvh_mmu*/synthesis/Makefile
!src/rvh_mmu*/synthesis/tcl_scripts
src/cache_ebi/ebi_ut
/csrc
sim/lsu_l1d/logs/*.log
sim/lsu_l1d/waves/*
sim/lsu_l1d/mem
sim/lsu_l1d/pagetable

src/perips/spy_folder

# mark and temp files for zdy
src/core.sv.bkp
src/rvh_mmu/rvh_monolithic_mmu_mark.v

csrc
rios-sscs

ipynb/rios_sscs/*
novas.*
.nfs*
ucli.key
simv

spyglass/
test/linux/proxy_kernel/
test/linux/proxy_kernel/riscv-pk
!test/linux/Makefile
!test/linux/proxy_kernel/Makefile
!test/linux/proxy_kernel/convert.py
